@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply form-input border-gray-300 block w-full transition ease-in-out duration-150 sm:text-sm sm:leading-5;
  }

  .filter-saturate {
    -webkit-filter: brightness(105%) saturate(200%) contrast(1);
    filter: brightness(105%) saturate(200%) contrast(1);
  }

  .filter-blur {
    --tw-bg-opacity: 0.9;
    backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }
}
